:root {
    --fill-color: #1173d4;
    --titles-color: #ffffff;
    --text-color-gray: #707982;
    --background-color: #101922;
    --secondary-background-color: #1e283b;
    --secondary-fill-color: #1b3758;
    --secondary-button-color: #334154;
    --secondary-gray-color: #bcc7d3;
   --font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   --secondary-fill-color-hover: #224874;
}
body {
    background-color: var(--background-color);
    font-family: var(--font-primary);
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
}
.logo {
    width: 44px;
    height: 44px;
    fill: var(--fill-color);
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 10px;
}
.logo:hover{
    cursor: pointer;
}
.title-web {
    color: var(--titles-color);
    margin-right: 25px;
}
.title-web:hover{
    cursor: pointer;
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links a {
    color: var(--secondary-gray-color);
    font-family: var(--font-primary);
    margin-right: 18px;
    text-decoration: none;
    font-size: 18px;
}
.links a:hover{
    color: var(--fill-color);
    cursor: pointer;
}
@media (max-width: 660px) {
    .links a{
        display: none;
    }
}
.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post-cv {
    background-color: var(--secondary-fill-color);
    color: var(--fill-color);
    border: none;
    border-radius: 5px;
    padding: 9px 14px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    width: 95px;
    height: 37px;
}
.post-cv:hover {
    background-color: var(--secondary-fill-color-hover);
}
.perfil-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 3%;
    margin-left: 10px;
    cursor: pointer;
}
header hr {
    border: none;
    height: 1px;
    background-color: var(--secondary-gray-color);    
    width: 100%;
    opacity: 0.2;
    position: absolute;
    top: 70px;
    left: 0;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero h1 {
    color: var(--titles-color);
    font-size: 50px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 0px;
}
.hero p {
    color: var(--secondary-gray-color);
    font-size: 20px;
}


.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 2rem;
    
    a{
        display: flex;
        ********
    }
}